//aqui vendran los reportes de metas cumplidas 
// reportes de fallos en computadores o teclados monitores etc
// ram que funciona o no 
// discos solidos y en que porcentaje estan 
// reportes de inventario de equipos y modulos
// reportes de equipos que necesitan mantenimiento  
// reportes de equipos que estan en buen estado
// reportes de equipos que estan en mal estado
// reportes de equipos que estan en uso
// estadisticas de equipos por modulo
// reportes de equipos que necesitan actualizacion de software
// 

